.question{
    width : 80%;
    margin-left: 10%;
}
.mat-radio-button {
    margin-left: 60px;
}
.mat-card-actions{
    width: 100px;
    margin : 0 0 0 auto;
}

.mat-card{
    background-color: lightgray;
}