.question{
    width : 80%;
    margin-left: 10%;
}
.mat-radio-button {
    margin-left: 60px;
}
.mat-card-actions{
    width: 100px;
    margin : 0 0 0 auto;
}

.mat-card{
    background-color: lightgray;
    margin: 20px 0 20px;
}
.mat-mini-fab{
    position : relative;
    top : 35px;
}
.mat-checkbox{
    margin-left :30px;
}